@page "/lifecyclemanager"
@using showcase_blazor.Data.Models;
@using showcase_blazor.Helpers;

<PageTitle>LifecycleManager</PageTitle>


<h1>LifecycleManager</h1>

<p role="status">Current count:</p>

<InputSelect id="medicine" @bind-Value="medicine.Id">
    @foreach (var medicine in medicines)
    {
        <option value="@medicine.Id">@medicine.Name</option>
    }
</InputSelect>

@code {
    //private Absence absence = new Absence();
    private List<Medicine> medicines = new List<Medicine>();
    private void generateData()
    {
        MockData mock = new MockData();
        mock.Generate();
    }
}
