@page "/lifecyclemanager"
@using showcase_blazor.Entities;

<PageTitle>LifecycleManager</PageTitle>


<h1>LifecycleManager</h1>

<p role="status">Current count:</p>

@code {
    private Absence absence = new Absence();

    private void IncrementCount()
    {
        absence.LifecycleManager.
    }
}
